@use "../../sass/abstracts" as *;

.employee-list-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  background-color: hsl(0, 0%, 90%);

  .page-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .table-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
  }

  .linkButton {
    @include df-button;
    min-width: 25vw;
    margin: auto;
  }
}
