@use '../../sass/abstracts' as *;


.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 15%;
  margin: auto;
  background-color: $df-dark-bg;
  gap: 10px;
  padding: 40% 15% 40% 15%;

  h1 {
    font-size: 2em;
    color: $df-error-color;
  }

  p {
    font-size: 1.1em;
    font-weight: bold;
    color: $df-dark-text;
  }
}

@media (min-width: 920px) {
  .errorContainer {
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1.65em;
    }
  }
}
