@use "../../sass/abstracts" as *;

.homeContainer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  gap: 40px;
  background-color: hsl(0, 0%, 90%);
}

.linkButton {
  @include df-button;
  width: 48vw;
}


