// InputSelect.module.scss
@use '../../sass/abstracts' as *;
@use "sass:color";

.df-input-select-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  
  .df-input-select-label {
    font-weight: $df-font-weight-semibold;
    color: $df-text-color;
    font-size: 0.95em;
    text-align: start;
    
    &.required::after {
      content: ' *';
      color: $df-error-color;
    }
    
    .df-dark-theme & {
      color: $df-dark-text;
      
      &.required::after {
        color: $df-dark-error;
      }
    }
  }
  
  .df-input-select-field {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid $df-border-color;
    border-radius: $df-border-radius-sm;
    font-family: $df-font-family;
    font-size: $df-font-size;
    background: $df-field-bg;
    color: $df-text-color;
    transition: all $df-transition-speed $df-transition-timing;
    box-sizing: border-box;
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23666666' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    padding-right: 36px;
    
    // GREEN BORDER ON FOCUS
    &:focus {
      outline: none;
      border-color: $df-primary-color;
      box-shadow: 0 0 0 3px rgba($df-primary-color, 0.1);
    }
    
    &:hover:not(:focus) {
      border-color: color.scale($df-border-color, $lightness: -10%);
    }
    
    &.error {
      border-color: $df-error-color;
    }
    
    // Dark theme styles
    .df-dark-theme & {
      background: $df-dark-cell-bg;
      color: $df-dark-text;
      border-color: $df-dark-border;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23E0E0E0' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
      
      &:focus {
        border-color: $df-primary-color-light;
        box-shadow: 0 0 0 3px rgba($df-primary-color-light, 0.1);
      }
      
      &:hover:not(:focus) {
        border-color: color.scale($df-dark-border, $lightness: 10%);
      }
      
      &.error {
        border-color: $df-dark-error;
      }
    }
  }
  
  .df-input-select-error {
    color: $df-error-color;
    font-size: 0.85em;
    margin: 0;
    
    .df-dark-theme & {
      color: $df-dark-error;
    }
  }
}